<nav class="sheet-navigation" data-group="primary">
    <a class="sheet-navigation-item active" data-tab="spell">{{ localize "splittermond.spells" }}</a>
    <a class="sheet-navigation-item" data-tab="mastery">{{ localize "splittermond.masteries" }}</a>
    <a class="sheet-navigation-item" data-tab="weapon">{{ localize "splittermond.weapon" }}</a>
</nav>