<nav class="tabs sheet-navigation" aria-roledescription="{{localize "SHEETS.FormNavLabel"}}">
    <a data-action="tab" class="sheet-navigation-item" data-group="primary" data-tab="spell">{{ localize "splittermond.spells" }}</a>
    <a data-action="tab" class="sheet-navigation-item" data-group="primary" data-tab="mastery">{{ localize "splittermond.masteries" }}</a>
    <a data-action="tab" class="sheet-navigation-item" data-group="primary" data-tab="weapon">{{ localize "splittermond.weapon" }}</a>
</nav>